<div class="container-fluid login-page">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-4 box">
      <div class="">
        <!-- <div class="text-center w-75 h-75 m-auto">
          <div class="auth-logo">
            <a href="#" class="logo logo-dark text-center">
              <span class="logo-lg">
                <img src="assets/logo.png" alt="" height="100" width="80" />
              </span>
            </a>
          </div>
        </div> -->
        <div class="text-center">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <a class="" href="#">
                <img src="assets/images/logo-dark.svg" alt="Sakai Logo"
                    height="50" class="mr-0 lg:mr-2"><span
                    class="text-900 font-medium text-2xl line-height-3 "></span>
            </a>
            </div>
            <div class="col-md-12">
            <p class="font-weight-bold">
              Signup
            </p>
            </div>
          </div>
        
        </div>
        <div class="col-md-12 mt-4" *ngFor="let box of this.inputInfo">
          <label class="label" *ngIf="box.type == 'text2'">{{
            box.label | capitalization
          }}</label>
          <app-text-box
            [inputInfo]="box"
            [changeFlag]="this.changeFlag"
            *ngIf="box.type == 'text2'"
            (updateData)="updateData($event, box.inputType)"
            (preSubmit)="preSubmit()"
            (submit)="onSubmit()"
          ></app-text-box>
      
        </div>

        <div class="col-md-12 mt-4">
          <app-button
            [label]="'Sign Up'"
            [padding]="'5px 0'"
            [borderRadius]="'0px'"
            [color]="'#fff'"
            [type]="'login'"
            [bgColor]="'#2c3349'"
            (button)="preSubmit()"
            [fontSize]="'14px'"
          >
          </app-button>
          <div class="row">
            <div class="container-fluid my-3">
              <a class="label" href="/login">Already have an account? Sign in here</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
